.order-instructions {
  width: 390px;
  height: 128px;
  background-color: var(--color-brand-white);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;

  &__number {
    padding: 12px 0;
    width: 150px;
    height: 48px;
    border-radius: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }

  &__description {
    color: black;
    max-width: 204px;
  }
}
