.teg {
  padding: 12px 32px;
  border: 1px solid var(--color-brand-white);
  border-radius: 1000px;
  font-weight: 500;
  line-height: 1.16;
  font-size: 12px;

  &__name {
    color: var(--color-brand-white);
  }
}
