.hero-side-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &.left {
    padding-bottom: 150px;

    @media screen and (max-width: $--bp-desktop) {
      //order: 2;
      grid-row: 2;
      grid-column: 1 / 2;
    }
  }

  &__text {
    max-width: 220px;
    padding-bottom: 44px;
  }

  &__watermelon-card {
    background-color: var(--color-brand-green);
  }

  &__title-watermelon-card {
    flex: 1;
  }

  &.right {
    padding-bottom: 246px;
    align-items: flex-end;

    @media screen and (max-width: $--bp-desktop) {
      //order: 2;
      grid-row: 2;
      grid-column: 3 / 4;
    }
  }

  &__strawberry-card {
    background-color: var(--color-brand-yellow);
  }

  &__title-strawberry-card {
    padding-bottom: 16px;
  }

  &__photo-strawberry-card {
    max-width: 162px;
    height: 185px;
  }

  &__list-teg {
    padding-top: 44px;
    max-width: 274px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 8px;
  }
}
