.hero-section {
  padding-top: 122px;
  display: flex;
  height: 978px;
  padding: 0 62px;

  &__main-container {
    position: relative;
    max-width: 470px;
    flex: 1;
    margin: 0 auto;
  }

  &__container-title {
    height: 122px;
    padding-top: 64px;
    width: 900px;
    margin: 0 auto;
  }

  &__title {
    max-width: 900px;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 500;
    line-height: 1;
  }

  &__photo-girl {
    width: 490px;
    height: 700px;
    padding: 20px;
    padding-top: 0;
    margin: 0 auto;
    background-image: url(../images/border.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
  }

  &__button {
    color: var(--color-brand-red);
    background-color: var(--color-brand-white);
    font-size: 28px;
    line-height: 1;
    position: absolute;
    left: 250px;
    bottom: 220px;
  }

  &__photo-strawberry-basket {
    max-width: 162px;
    height: 185px;
  }
}
