.instruction-section {
  &__title {
    width: 774px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    margin: 0 auto;
    padding-bottom: 14px;

    @media screen and (max-width: $--bp-tablet) {
      width: 700px;
      font-size: 32px;
    }

    @media screen and (max-width: $--bp-mobile) {
      width: 335px;
      font-size: 28px;
      line-height: 1;
    }
  }

  &__description {
    width: 608px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 44px;

    @media screen and (max-width: $--bp-mobile) {
      width: 380px;
    }
  }

  &__steps {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 80px;

    @media screen and (max-width: $--bp-desktop) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: $--bp-mobile) {
      gap: 20px;
      margin-bottom: 44px;
    }
  }

  &__step-title {
    &--red {
      background-color: var(--color-brand-red);
    }
    &--green {
      background-color: var(--color-brand-green);
    }
    &--yellow {
      background-color: var(--color-brand-yellow);
    }
  }

  &__gif {
    margin: 0 auto;
    border-radius: 20px;

    &--desktop {
      width: 860px;
      height: 476px;

      @media screen and (max-width: $--bp-tablet) {
        display: none;
      }
    }

    &--tablet {
      width: 704px;
      height: 476px;

      @media screen and (min-width: $--bp-tablet) {
        display: none;
      }

      @media screen and (max-width: $--bp-mobile) {
        display: none;
      }
    }

    &--mobile {
      width: 335px;
      height: 476px;

      @media screen and (min-width: $--bp-mobile) {
        display: none;
      }
    }
  }
}
