@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-weight: 400;
  src: url('../fonts/DMSans-Regular.woff2'), url('../fonts/DMSans-Regular.woff');
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-weight: 500;
  src: url('../fonts/DMSans-Medium.woff2'), url('../fonts/DMSans-Medium.woff');
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-weight: 700;
  src: url('../fonts/DMSans-Bold.woff2'), url('../fonts/DMSans-Bold.woff');
  font-style: normal;
}
