:root {
  --color-brand-red: #ae1332;
  --color-brand-white: #ffffff;
  --color-brand-green: #a4cb66;
  --color-brand-yellow: #f5ce13;
}

$--bp-mobile: 480px;
$--bp-tablet: 768px;
$--bp-desktop: 1280px;
